<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <nav class="fixed top-0 left-0 w-full bg-white border-b border-gray-200 shadow-sm z-50 ">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <!-- Logo/Brand Name -->
        <a href="#" class="text-2xl font-bold text-blue-700">Apartment Managent System</a>

        <!-- Navigation Links -->
        <div class="hidden md:flex space-x-6">
            <a href="#about" class="text-gray-700 hover:text-blue-700">About</a>
            <a href="#features" class="text-gray-700 hover:text-blue-700">Features</a>
            <a href="#contact" class="text-gray-700 hover:text-blue-700">Contact</a>
        </div>

        <!-- Login Button -->
        <div>
            <a href="/login" class="px-4 py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-md font-semibold">
                Login
            </a>
        </div>
    </div>
</nav>
    <div class="mx-auto mt-10 p-4">
      <h1 class="text-center text-3xl mt-5">APARTMENT MANAGEMENT SYSTEM</h1>
    </div>
    <div class="flex items-center p-4">
      <div class="mt-5">
        <img class="w-full " src="https://img.freepik.com/premium-photo/modernapartmentisolatedontransparentbackgroun-1-1_1292509-70.jpg?semt=ais_hybrid" alt="">
      </div>
      <div class="flex-1">
        <h1 class="text-3xl">Abstract</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam alias necessitatibus sunt, voluptatum voluptatibus sint quo nobis, fugit, a praesentium voluptatem! Dolorum mollitia tempora libero cumque adipisci blanditiis officia doloribus est eos, nesciunt distinctio impedit accusantium accusamus illum nihil corrupti voluptates officiis facilis eum veniam porro. Illo hic esse a.</p>
      </div>
    </div>

    <div class="flex items-center p-4">
      <div class="flex-1">
        <h1 class="text-3xl">Abstract</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam alias necessitatibus sunt, voluptatum voluptatibus sint quo nobis, fugit, a praesentium voluptatem! Dolorum mollitia tempora libero cumque adipisci blanditiis officia doloribus est eos, nesciunt distinctio impedit accusantium accusamus illum nihil corrupti voluptates officiis facilis eum veniam porro. Illo hic esse a.</p>
      </div>
      <div class="mt-5">
        <img class="w-full " src="https://img.freepik.com/premium-photo/modernapartmentisolatedontransparentbackgroun-1-1_1292509-70.jpg?semt=ais_hybrid" alt="">
      </div>
    </div>
    </body>
</html>