<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div>
      <h1 class="text-3xl text-center">Apartement Management System</h1>
      <div class="users flex gap-9 flex-wrap mt-5">
          <div class="user w-72 p-4 border-2 ml-10 mt-5  rounded-lg">
            <div class="w-full h-50  rounded-lg overflow-hidden">
              <h3 class="text-2xl text-center">Admin </h3>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvgwwHipyBzy_Y3F4HcAAzP2zY-PrHaqsdvQ&s" alt="">
            </div>
            <h3 class="text-xl mt-3 tracking-tighter"></h3>
            <h5 class="text-zinc-500"></h5>
            <div class="flex gap-3 mt-10">
              <a class="text-blue-600" href="/AdminLogin">Click here to login</a>  
            </div>
          </div>     
          <div class="user w-72 p-4 border-2 ml-10 mt-5 rounded-lg">
            <div class="w-full h-50  rounded-lg overflow-hidden">
              <h3 class="text-2xl text-center">Owner </h3>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvgwwHipyBzy_Y3F4HcAAzP2zY-PrHaqsdvQ&s" alt="">
            </div>
            <h3 class="text-xl mt-3 tracking-tighter"></h3>
            <h5 class="text-zinc-500"></h5>
            <div class="flex gap-3 mt-10">
              <a class="text-blue-600" href="/OwnerLogin">Click here to login</a>  
            </div>
          </div>     
          <div class="user w-72 p-4 border-2 ml-10 mt-5  rounded-lg">
            <div class="w-full h-50  rounded-lg overflow-hidden">
              <h3 class="text-2xl text-center">Tenant </h3>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvgwwHipyBzy_Y3F4HcAAzP2zY-PrHaqsdvQ&s" alt="">
            </div>
            <h3 class="text-xl mt-3 tracking-tighter"></h3>
            <h5 class="text-zinc-500"></h5>
            <div class="flex gap-3 mt-10">
              <a class="text-blue-600" href="/TenantLogin">Click here to login</a>  
            </div>
          </div>     
          <div class="user w-72 p-4 border-2 ml-10 mt-5  rounded-lg">
            <div class="w-full h-50  rounded-lg overflow-hidden">
              <h3 class="text-2xl text-center">Employee</h3>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvgwwHipyBzy_Y3F4HcAAzP2zY-PrHaqsdvQ&s" alt="">
            </div>
            <h3 class="text-xl mt-3 tracking-tighter"></h3>
            <h5 class="text-zinc-500"></h5>
            <div class="flex gap-3 mt-10">
              <a class="text-blue-600" href="">Click here to login</a>  
            </div>
          </div>     
      </div>

    </div>
</body>
</html>